<br>
<h1><%=@ingredient.name%></h1>
<br>
Used in:
<ul>
  <%@ingredient.recipes.each do |recipe|%>
    <li><%=link_to recipe.name, recipe_path(recipe, format: :json), class: "recipeLink"%>
  <%end%>

  <script type='text/javascript' charset='utf-8'>
    $(document).ready(function(){
      $('.recipeLink').on('click', function(e){
        var html = "";
        $.get(this.href).success(function(recipe){
            html+= "<div><p>" + recipe['instructions'] + "</p></div> <a href='/recipes/"+ recipe['id'] + "'>View</a>";
          });
          alert("Fetching recipe...")
          $(this).after(html)
          e.preventDefault();
        });
      });
  </script>
