<br>
<h1><%=@ingredient.name%></h1>
<br>
Used in:
<ul>
  <%@ingredient.recipes.each do |recipe|%>
    <li><%=link_to recipe.name, recipe_path(recipe, format: :json), class: "recipeLink"%>
  <%end%>
</ul>

  <script type='text/javascript' charset='utf-8'>
    $(document).ready(function(){
      $('.recipeLink').on('click', function(e){
        var html = "";
        var node = this;
        $.get(this.href).success(function(recipe){
          html+= "<h4>Ingredients:</h4><ul>"

          $.each(recipe['ingredients'], function(index, ingredient){
            html+="<li>" + ingredient['name']
          })

          html+= "</ul><br><div><p>" + recipe['instructions'] + "</p></div> <a href='/recipes/"+ recipe['id'] + "'>View</a>";
          $(node).after(html);
          });
          e.preventDefault();
        });
      });
  </script>
