<%=stylesheet_link_tag 'application'%>
<link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>

<%if @user%>
  <%puts @user.email%>
  <%puts @user.username%>
<h1>Welcome to DuJour, <%=@user.username%>!</h1>
<%else%>
<h1>Welcome to DuJour!</
<%end%>
