<div class="row vertical-center">
  <div class="col-xs-12 text-center">
    <h1>Welcome to <span class="logoType">DuJour!</span></h1>
    <p>Please <%=link_to "log in", new_user_session_path%> or <%=link_to "sign up", new_user_registration_path%></p>
  </div>
</div>
