<%=stylesheet_link_tag 'application'%>
<link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>

<h1>Welcome to DuJour!</h1>
<%= link_to("Log in with Facebook!", user_omniauth_authorize_path(:facebook)) %>

