// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logoType {
  color: #3BCEFF;
  font-family: 'Bad Script', cursive;
}

.bottomBorder{
  border-bottom: thick solid #3BCEFF;
}

.vertical-center{
  min-height: 75%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 75vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

